@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(19, 19, 19);
  color: brown;
  text-align: center;
  // margin-top: 100px;
}

#loginLogo {
  height: 300px;
  border-radius: 50%;
}

#loginImage {
  margin: 50px;
}

.navbar-nav {
  margin-left: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 50px;
  border-radius: 50%;
}

#welcomePage {
  text-align: center;
}

#welcomePageButtons {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

.welcome-pg-btn {
  width: 100%;
}

#orderCards {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;

  .card {
    width: 300px;
    margin: 15px;
  }

  .card-text {
    font-size: 18px;
  }
}

#formContainer {
  width: 60%;
  margin: auto;
}
